* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
    scroll-padding-top: 8em;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-image: url(Project_assets/cover1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-holder:hover img {
            transform: scale(1.1);
            transition: transform 0.5s ease;
        }

        .card-img {
            transition: transform 0.5s ease;
        }

        .explore-text {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .card:hover .explore-text {
            opacity: 1;
        }